* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column30 {
    float: left;
    width: 30%;
    height: 400px; /* Should be removed. Only for demonstration */
}

.column70 {
    float: left;
    width: 70%;
    height: 400px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}